.text-black {
  color: $black;
}

.text-white {
  color: $white;
}

.text-blue-grey {
  color: $blue-grey;
}

.text-red-a {
  color: $red-a;
}

.text-grey {
  color: $grey;
}
.text-grey-l
{
color: $grey-l;
}

.text-red-b {
  color: $red-b;
}
.color-green-b{
  color: $green-b;
}
.text-grey-k{
  color:$grey-k;
}