/********* font size **********/
$spaceamounts: (
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  24,
  26,
  28,
  30,
  32,
  34,
  36,
  38,
  40,
  41,
  42,
  44,
  46,
  48,
  50,
  52,
  54,
  56,
  58,
  60,
  62,
  64,
  66,
  68,
  70,
  72,
  90
); // Adjust this to include the pixel amounts you need.
$sides: (size); // Leave this variable alone

@each $size in $spaceamounts {
  @each $side in $sides {
    .f#{str-slice($side, 0, 1)}#{$size} {
      font-#{$side}: #{$size}px;
    }
  }
}

/********* font size **********/

.ff-poppins {
  font-family: "Poppins", sans-serif;
}

.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-900 {
  font-weight: 900;
}
