/****** Common STyle *****************/
html , body {
  font-family: 'Avenir Next LT Pro Demi', sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}
*:focus {
  outline: 0;
}

*:checked {
  outline: 0;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $red-a;
  }

  &:focus {
    outline: 0;
  }
}


.form-control:focus,
*:focus {
  outline: 0;
  box-shadow: none;
}

/* Autofill for chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $white inset !important;
          box-shadow: 0 0 0 30px $white inset !important;
}

