/********** Floating Input Styles **********/

.form-floating {
  > .form-control {
    @extend .h45;
    @extend .fs14;
    padding: 5px 0px 0px 10px !important;
    border: 1px solid $grey;
    border-radius: 8px;
    &.invalid {
      border: 1px solid $red;
    }
    &:focus {
      ~ {
        label {
          display: contents;
          span {
            transition-timing-function: linear;
            z-index: 10;
            position: absolute;
            top: -10px;
            background-color: $white;
            padding: 5px;
            line-height: 1;
            margin: 0;
            left: 8px;
            font-size: 12px;
            color: $grey;
          }
        }
      }
    }
    &:not(:placeholder-shown) {
      ~ {
        label {
          display: contents;
          span {
            transition-timing-function: linear;
            z-index: 10;
            position: absolute;
            top: -10px;
            background-color: $white;
            padding: 5px;
            line-height: 1;
            margin: 0;
            left: 8px;
            font-size: 12px;
            color: $grey;
          }
        }
      }
    }
  }
  > .form-control-plaintext {
    ~ {
      label {
        display: contents;
        span {
          transition-timing-function: linear;
          z-index: 10;
          position: absolute;
          top: -10px;
          background-color: $white;
          padding: 5px;
          line-height: 1;
          margin: 0;
          left: 8px;
          font-size: 12px;
          color: $grey;
        }
      }
    }
  }
  > .form-select {
    ~ {
      label {
        display: contents;
        span {
          transition-timing-function: linear;
          z-index: 10;
          position: absolute;
          top: -10px;
          background-color: $white;
          padding: 5px;
          line-height: 1;
          margin: 0;
          left: 8px;
          font-size: 12px;
          color: $grey;
        }
      }
    }
  }
  label {
    padding: 9px 0px 0px 10px;
    .floating-label {
      color: $grey;
      @extend .fs14;
    }
  }
}

.password-eye {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.form-check-input:checked {
  background-color: $dark-blue-b;
  border-color: $dark-blue-b;
}
.rounded-search-input-sm {
  .form-control {
    background: $white;
    border: 1px solid $grey-m;
    border-radius: 28px;
    opacity: 1;
    border-right-width: 0px;

    @extend .h35;

    @extend .fs12;

    &::placeholder {
      @extend .fs13;
      color: $grey;
    }

  }

  .input-group-text {
    background: $white;
    border: 1px solid $grey-m;
    border-radius: 28px;
    opacity: 40;
    @extend .h35;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0;
  }
}
