.primary-header {
    .head-bar {
      background-color: $white;
      padding: 15px;
      border-bottom: 0.5px solid $grey-d;
      box-shadow: 0px 7px 20px rgba(40, 41, 61, 0.08);
      .header-toggle-bar
      {
        margin-left: 1.8rem;
      }
    }
  }
  