// /********* sidemenu ************/

.own-sidemenu-main {
  width: 250px;
  transition: 1s;
  position: fixed;
  z-index: 3;
  border: 0;
  top: 20px;

  .menu-txt {
    padding-left: 10px;
    font-weight: 400;

    @extend .fs12;
    width: 200px;
    white-space: normal;
    vertical-align: middle;
    word-break: break-all;
  }

  .list-group {
    @extend .pt20;
    margin-top: 35px;
    background: $white;
    color: $white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25) !important;
    height: 93vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0;

    a {
      border-radius: 0px;
      display: block;
      color: $grey;
      text-decoration: none;
    }

    span {
      display: inline-block;
      color: $grey;
    }

    .list-group-item {
      border: 0;
      margin: 3px 10px;
      padding: 5px;
      white-space: nowrap;
      border-radius: 0px;
      color: $grey;
      background: $white;

      .menu-icon {
        display: inline-block;

        img {
          @extend .w15;
          @extend .h15;
          margin: 12px 12px;
        }
      }

      &:hover,
      &.active {
        // background-color: $grey-c;
        @extend .radius8;
        cursor: pointer;
        .menu-txt {
          color: $dark-blue;
        }
        .menu-icon {
          img {
            filter: invert(56%) sepia(9%) saturate(226%) hue-rotate(177deg)
              brightness(93%) contrast(87%);
          }
        }
      }

      &.active {
        .menu-txt {
          color: $dark-blue;
          font-weight: 500;
        }
        .menu-icon {
          img {
            filter: invert(56%) sepia(9%) saturate(226%) hue-rotate(177deg)
              brightness(93%) contrast(87%);
          }
        }
      }
    }
  }

  .list-group-item-submenu.active,
  .list-group-item.active {
    span {
      color: $dark-blue;
      font-weight: 600;
    }
  }
}

@keyframes show-menu-txt {
  from {
    opacity: 0;
    display: none;
  }

  to {
    opacity: 1;
    display: inline-block;
  }
}

// /********* sidemenu ************/
