#toast-container {
    .toast-success {
      background-color: $white;
      color: $black;
      border-left: 5px solid #00c36a;
      min-width: 500px;
      background-size: 50px;
    }
    .toast-error {
      background-color: $white;
      color: $black;
      border-left: 5px solid red;
      min-width: 500px;
      background-size: 50px;
    }
    .toast-title {
      padding-left: 30px;
      font-family: Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 28px;
      display: flex;
      align-items: center;
      color: #4e4e4e;
    }
    .toast-message {
      padding-left: 30px;
      font-family: Arial, Helvetica, sans-serif;
      font-style: normal;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #4e4e4e;
    }
  }