<div class="canvas">
    <button mat-stroked-button class="btnChartControl" (click)="sidenav.toggle()" title="Toggle TimeSeries Panel"><mat-icon [icIcon]="icMenu">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"><path fill="currentColor" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg>
    </mat-icon></button>
    <div *ngIf="id" class="chartControls" [id]="'chartControls' + id"></div>
    <div *ngIf="id" [ngClass]="{'chart': (selectedLayout == 'single' || selectedLayout == 'sides'), 'chart2': (selectedLayout == 'stacked' || selectedLayout == 'grid')}" [id]="'chartdiv' + id"></div>
</div >
