.canvas {
    display: block;
    background-color: white;
    margin-bottom: -40px;

    .btnChartControl {
        // float: left;
        // margin: 7px;
        // padding: 0 4px;
        min-width: auto;
        line-height: 28px;
        color: var(--color-gold-700);
    }

    .chart {
        width: 100%;
        height: 80vh;
        max-width: 100%;
    }

    .chart2 {
        width: 100%;
        height: 40vh;
        max-width: 100%;
    }

    ::ng-deep {
        .am5stock-control-icon {
            margin-bottom: -4px;
        }
        .am5-modal-button.am5-modal-primary {
          background: var(--color-primary-500);
        }
    
        .am5-modal-button.am5-modal-primary:hover {
          background: var(--color-primary-700);
        }
    }
}

.chartControls {
    height: auto;
    padding: 5px 5px 0 16px;
    max-width: 100%;

    ::ng-deep {
        .flatpickr-months {
            font-size: 10px;
        }

        .flatpickr-day.selected {
            background: var(--color-primary-500);
            border-color: var(--color-primary-500);
        }

        .am5-modal-button.am5-modal-primary {
            background: var(--color-primary-500);
        }

        .flatpickr-day:hover {
            background: var(--color-primary-500);
            border-color: var(--color-primary-500);
        }

        .flatpickr-day,
        .flatpickr-day.prevMonthDay,
        .flatpickr-day.nextMonthDay {
            border-color: var(--color-primary-500);
        }
    }
}