<div class="control">
    <button mat-button style="height: 0; position: absolute;"><!-- 'absorbs' the auto-focus behavior --></button>

    <div class="header">
        <h3>TimeSeries Panel</h3>

        <div class="page-menu">
            <button mat-icon-button matTooltip='Export all TimeSeries to Excel' class="excel" (click)='export2excel()'><mat-icon [icIcon]='icExcel'></mat-icon></button>
            <button mat-icon-button matTooltip="Collapse panel" (click)='sidenav.close()'>
                <mat-icon [icIcon]='icClose'></mat-icon>
            </button>
        </div>
    </div>

    <!-- <mat-form-field id="presets">
        <mat-label>Chart Presets</mat-label>
        <mat-select [formControl]='presetsForm'>
            <mat-option value="CG - EPS CFPS BVPS PRICE">CG - EPS CFPS BVPS PRICE</mat-option>
        </mat-select>
    </mat-form-field> -->

    <mat-accordion>
        <mat-expansion-panel hideToggle disabled="true" class="thead">
            <mat-expansion-panel-header>
                Time Series
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <div class="series" *ngFor="let ts of existingTimeSeries; let i = index">
            <div class="list" [style.color]='ts.color'>{{ ts.factor }}
            </div>
        </div>

    </mat-accordion>

    <!-- <div class="transactions" matTooltip='Enable this checkbox to display all Buy, Sell & Dividend transactions for this Instrument over time by MultiStrategy. (Requires the first TS to be "aclose")'>
        <mat-checkbox [value]="showingTransactions" (click)="showTransactions(!showingTransactions)">Show transactions</mat-checkbox>
        <mat-icon [icIcon]='icTransactions'></mat-icon>
    </div> -->
</div>