:host {
    display: block;
    overflow: hidden;
}

.control {
    display: block;
    background-color: white;
}

.header {
    h3 {
        line-height: 36px;
        margin-bottom: 10px;
        margin-left: 5px;

        mat-icon {
            color: var(--color-primary-500);
            vertical-align: top;
            margin-right: 10px;
            margin-bottom: 20px;
        }
    }

    .page-menu {
        margin-top: 0;
        background-color: white;

        .excel mat-icon {
            font-size: 20px;
            color: var(--color-green-900);
        }
    }
}

#presets {
    width: 100%;
}

mat-expansion-panel {
    mat-expansion-panel-header {
        height: 36px !important;

        .header {
            font-size: 12px;
            line-height: 14px;
            text-align: left;
        }
    }
}

.newPanel {
    mat-expansion-panel-header {
        padding-top: 6px;
        padding-bottom: 6px;

        mat-icon {
            color: var(--color-primary-500);
            vertical-align: top;
            margin-right: 5px;
        }
    }

    background: #f9f9f9;
    border: 2px dashed #DDD;
    border-radius: 5px;
}

.addTimeSeries {
    background: #f9f9f9;
    border: 2px dashed #DDD;
    padding: 6px 16px;
    font-size: 14px;
    align-items: center;
    display: flex;
    cursor: pointer;
    margin: 10px 0;

    mat-icon {
        color: var(--color-primary-500);
        vertical-align: top;
        margin-right: 5px;
    }
}

.series {
    border-width: 1px;
    border-top-width: 0;
    background: #f9f9f9;
    padding: 6px 0px;
    font-size: 14px;
    align-items: center;

    .list {
        cursor: pointer;
        margin-left: 20px;
    }
}

.transactions {
    text-align: center;
    margin: 10px auto;
    display: block;

    mat-icon {
        vertical-align: middle;
    }
}

.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    width: 100%;
    height: fit-content;
}