.layoutDropDown {
    width: 100%;
    margin-right: 20px;
    text-align: end;
}

::ng-deep .mat-grid-tile-content {
    align-items: inherit !important;
}
::ng-deep  .mat-mdc-form-field-infix {
    margin-top: 19px!important;
}


mat-card {
    .dragHandle {
        position: absolute;
        top: 16px;
        right: 16px;
        color: #ccc;
        cursor: move;
        z-index: 10;
        opacity: 0;
        transition: 0.2s ease;
    }

    &:hover .dragHandle {
        opacity: 1;
    }
}

.searchfield {
    position: absolute;
    left: 20px;
}

.cdk-drag-placeholder {
    display: none;
}
