<mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile><mat-form-field class="searchfield pt-2">
        <mat-icon *ngIf='icon' matPrefix [icIcon]="icon" class="search item-icon"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"><path fill="currentColor" d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5A6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5S14 7.01 14 9.5S11.99 14 9.5 14z"></path></svg></mat-icon>
        <mat-label *ngIf="!showInputPlaceholder">{{ placeholderValue }}</mat-label>
        <input type="text" [(ngModel)]="getSearchValue"   [placeholder]="showInputPlaceholder ? placeholderValue : ''" matInput >
        <button mat-button class="clear" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue($event)">
            <mat-icon><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"><path fill="currentColor" d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5A6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5S14 7.01 14 9.5S11.99 14 9.5 14z"></path></svg></mat-icon>
        </button>
    </mat-form-field>

</mat-grid-tile>
    <!-- <mat-grid-tile><div class="layoutDropDown pt-2">
        <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedLayout" name="layout" (selectionChange)="selectLayout($event.value)">
                <mat-option value="single"><mat-icon [icIcon]='icSingle'></mat-icon>Single</mat-option>
          </mat-select>
        </mat-form-field>
    </div></mat-grid-tile> -->
  </mat-grid-list>
 



<div class="content" *ngIf="search ">
    <div *ngIf="selectedLayout == 'single'">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="100%">
                <mat-card class="mat-elevation-z4">
                    <stock-chart [id]="1" [selectedLayout]="selectedLayout" [searchData]="search"></stock-chart>
                </mat-card>
            </div>
        </div>
    </div>
</div>
