<mat-sidenav-container>
    <mat-sidenav [class.hidesidenav] = "getfilterdata?.length == 0" class="sidenav" #sidenav [mode]='mode' [(opened)]="opened" [class.over]="mode == 'over'">
        <ng-container  *ngIf="getfilterdata?.length != 0">
            <stock-chart-control [getSeriesColorCode]="getSeriesColorCode" [getSearchRecord]="getfilterdata"
                [updateTimeSeriesData]="updateTimeSeriesData" [sidenav]="sidenav" [selectedLayout]="selectedLayout"
                (addTimeSeries)="addTimeSeries($event)" (isTransactionsEnabled)="isTransactionsEnabled($event)"
                (isSideNavOpened)="isSideNavOpened($event)"></stock-chart-control>
        </ng-container>
    </mat-sidenav>

    <mat-sidenav-content [class.hidesidenavremove_margin] = "getfilterdata?.length == 0">
        <ng-container  *ngIf="getfilterdata?.length == 0"><div class="notfound">No data found</div></ng-container>
        <ng-container  *ngIf="getfilterdata?.length != 0">
            <stock-chart-canvas [addCompareData]="addCompareData" [showingTransactions]="showingTransactions"
                [getSearchRecord]="getfilterdata" [sidenav]="sidenav" [opened]="opened" [id]="id"
                [selectedLayout]="selectedLayout" (updateTimeSeries)="updateTimeSeries($event)"
                (getSeriesColorCode)="getSeriesColor($event)"></stock-chart-canvas>
        </ng-container>
    </mat-sidenav-content>
</mat-sidenav-container>
