.sidenav {
    width: 300px;
    padding-right: 16px;
    border-right: 1px solid #EEE;

    &.over {
        box-shadow: 0px 0px 7px 7px rgb(0 0 0 / 30%);
    }
}

mat-sidenav-content { 
    overflow: hidden;
}


.showchart{
    visibility: block;
}

.showsecchart{
    visibility: block;
}

.notfound{
    text-align: center;
    background-color: white;
}

.hidesidenav{
    display: none;
}

.hidesidenavremove_margin{
    margin-left: 0px!important;
}