/* Common Style Start */

.btn{
  font-family: 'Avenir Next LT Pro Demi';
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn-dark-green {
  background: $green-b;
  border-radius: 30px;
  color: $white;
  transition: background-color 0.5s ease-out;

}

.btn-dark-gray {
  background: $grey-m;
  border-radius: 30px;
  color: $white;
  transition: background-color 0.5s ease-out;
}
.btn.btn-dark-green:first-child:hover{
  background: $white;
  box-shadow: none;
  color:  $green-b;
  transition-duration: 2s;
  border-color: $green-b;
}

/* Common Style End */
