/****** scroll bar css *****************/
*::-webkit-scrollbar {
  width: 10px;
  height: 3px;
  background: $white;
  border-radius: 8px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: $white;
  border-radius: 8px;
}

/****** scroll bar css *****************/

.primary-link {
  color: $green-b;
  font-family: "Avenir Next LT Pro Demi";
  &:focus,
  &:hover {
    color: $green-b;
  }
}
.primary-content {
  color: $grey-k;
  @extend .fs13;
  .primary-heading {
    color: $grey-l;
    @extend .pb0;
    @extend .fs14;
    @extend .mb0;
  }
  .sub-heading{
    @extend .pt10;
  }
  .list-group-item {
    border: 0;
    padding: 8px 0px;
  }
  .primary-description{
    border-bottom: 1px solid $grey-l;
  }
}

.page-content {
  .page-section {
    .nav-link {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-bottom: 0;
      background: none;
      border: 0;
      color: $grey-l;

      padding: 0px 10px 10px 0px;
      @extend .fs14;
      margin: 0px 20px 0px 0px;
    }
    .nav-link:focus,
    .nav-link:hover {
      color: $black;
    }
    .nav-link.active {
      color:black;
      background: transparent;
      border: 0;
      box-shadow: none;
      span {
        color: $black;
        border-bottom: 2px solid #22577a;
      }
    }
    .oblicationtext{
      font-size: 14px;
      margin-bottom: 42px;
    }
  }
}
