@media (min-width:320px)  { }
@media (min-width:480px)  { }
@media (min-width:600px)  { 
    .Landing-Page{
    height: 100vh;
     }
}
@media (max-width:600px)  { 
    .Landing-Page{
    height: 100%;
     }
     .add-document .document-list-content {
         margin-left: 0px!important;
         margin-right: 0px!important; 
    }
}
@media (min-width:768px)  { 
    .Landing-Page{
        height: 100%;
         }
 }
 @media (min-width:1025px) {    .Landing-Page{
    height: 100vh;
     }}
