/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~ngx-toastr/toastr.css";
@import "./scss-style/helpers/variables";
@import "./scss-style/components/buttons";
@import "./scss-style/helpers/helpers";
@import "./scss-style/helpers/pages";
@import "./scss-style/reset/style.scss";
@import "./scss-style/reset/fonts";
@import "./scss-style/reset/color";
@import "./scss-style/layout/forms";
@import "./scss-style/layout/sidebar";
@import "./scss-style/layout/header";
@import "./scss-style/layout/toaster";
@import "./scss-style/components/common.scss";
@import "./scss-style/responsive.scss";
@import "./assets/fonts/fontstyle.css";
html, body { height: 100% ;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
