/********************* Pages style change ***************/

.page-content {
  width: 100%;
  transition: 1s;

  @extend .mt60;

  .page-section {
    @extend .p10;
    // float: right;
    //  width: calc(100% - 275px);
    background-color: $grey-e;
    min-height: 100vh;

    .page-card {
      @extend .p20;
    }

    .nav-link {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-bottom: 0;
      background: none;
      border: 0;
      &.active {
        background: transparent;
        border: 0;
        box-shadow: none;
        span {
          border-bottom: 2px solid $dark-blue;
          color: $dark-blue;
        }
      }
      span {
        color: $grey;
        font-size: 13px;
      }
      &:hover,
      :focus {
        border-color: transparent;
        box-shadow: none;
        outline: 0;
      }
    }
  }
}

/********************* Pages style change ***************/

.primary-table {
  background-color: $white;
  margin: 2.3rem 1.5rem;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px 20px 0px 0px;
  &.table-responsive {
    overflow-y: hidden;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    border-radius: 5px 5px 0px 0px;
  }
  .table {
    thead {
      background-color: $white;
      color: $grey-f;
      border-bottom: 1px solid $grey-g;
      th {
        font-weight: 700;
        border: none;
        white-space: nowrap;
        border-bottom-width: 1px;
        font-family: 'Avenir Next LT Pro Bold';
        @extend .fs13;
        padding: 0.5rem 0.5rem;
      }
    }
    th,
    td {
      vertical-align: middle;
      text-align: left;
      width: 0.2rem;
      &:first-child {
        padding-left: 30px !important;
      }
      &:last-child {
        padding-right: 20px;
      }
    }

    tbody {
      tr{
        height: 50px;
        &:nth-child(odd){
          background-color: #F8F9FA;
        }
      }
      td {
        width: 20rem;
        color: $grey-f;
        @extend .fs12;
      }
    }
  }
  .rectangle {
 
      height: 5px;
      width: 20px;
      background-color: #555;
      margin-top: 5px;
 
  }
}
.page-content-table {
  background-color: $white;
  margin: 0px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px 20px 0px 0px;
 
}

.primary-pagination {
  .ngx-pagination {
    @extend .pt10;
    @extend .radius20;

    a,
    li {
      line-height: 25px;
     border-radius: 5px;
    }

    li {
      @extend .fs13;

      &.current {
        background: $green-b;
      }

      // &:first-child {
      //   position: absolute;
      //   left: -50px;

      //   &:hover {
      //     background: $green-b;

      //     &::before {
      //       background: $green-b;
      //       color: $white;
      //       border-color: $white;
      //     }
      //   }

      //   &::before {
      //     content: "";
      //     margin: 0;
      //     width: 8px;
      //     height: 8px;
      //     border-radius: 1px;
      //     border-top: 2px solid $grey;
      //     border-right: 2px solid $grey;
      //     -moz-transform: rotate(-135deg);
      //     -webkit-transform: rotate(-135deg);
      //     transform: rotate(-135deg);
      //     position: absolute;
      //     bottom: 10px;
      //     right: 10px;
      //   }

      //   a {
      //     opacity: 0;
      //   }

      //   span {
      //     display: none;
      //   }
      // }

      // &:last-child {
      //   position: absolute;
      //   right: -50px;

      //   &:hover {
      //     background: $green-b;

      //     &::after {
      //       background: $green-b;
      //       color: $white;
      //       border-color: $white;
      //     }
      //   }

      //   a {
      //     opacity: 0;
      //   }

      //   &::after {
      //     content: "";
      //     margin: 0;
      //     width: 8px;
      //     height: 8px;
      //     border-radius: 1px;
      //     border-top: 2px solid $grey;
      //     border-right: 2px solid $grey;
      //     -moz-transform: rotate(45deg);
      //     -webkit-transform: rotate(45deg);
      //     transform: rotate(45deg);
      //     position: absolute;
      //     bottom: 10px;
      //     left: 10px;
      //   }

      //   span {
      //     display: none;
      //   }
      // }
    }
    .disabled{
      color: #232D41;
    }
  }

}