// primary colors
$white: #fff;

$black: #000000;
$black-a:#0B0E1E;

$blue-grey: #424659;

$red: #ff6363;
$red-a: #ff6b93;
$red-b: #d40000;
$red-c: #D50000;

$dark-blue: #22577a;
$dark-blue-a: #2f75a3;
$dark-blue-b: #070f65;

$blue: #2196f3;
$blue-a: rgb(25, 107, 167);
$blue-c:#154464;
$blue-d:#2A2E37;

$grey: #82868c;
$grey-a: rgba(255, 255, 255, 0.5);
$grey-b: #d3d3d3;
$grey-c: #bec8cf66;
$grey-d: #babfc5;
$grey-e: #f5f5f7;
$grey-f: #3a3c40;
$grey-g: #e3f0ff;
$grey-h: #e3e6eb;
$grey-i: #121625;
$grey-j:#f9f9fb;
$grey-k: #172434;;
$grey-l: #ABABAB;
$grey-m:#959DA8;
$green: #63ca8e;
$green-a: #259e80;
$green-b: #0CAB99;
$yellow-a:#EBB006;
